@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin gradienttext {
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  background-clip: "";
  -webkit-background-clip: text;
  color: transparent;
}

@mixin boxShadow($opacity) {
  box-shadow: 0 1.5rem 4rem rgba($color-black, $opacity);
}
